@import "../../media-mixin";

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 170px;
  margin: 0 auto 40px;

  @include mq('custom', 'min', 550) {
    width: 210px;
  }

  &__play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin-left: auto;

    border-radius: 50%;
    background-color: #fff;

    @include mq('custom', 'min', 550) {
      width: 90px;
      height: 90px;
    }
    
    svg {
      width: 28px;
      height: 28px;

      color: #BA4949;

      @include mq('custom', 'min', 550) {
        width: 40px;
        height: 40px;
      }
    }
  }

  &__next {
    svg {
      width: 34px;
      height: 34px;

      @include mq('custom', 'min', 550) {
        width: 40px;
        height: 40px;
      }
    }
  }
}